First import the necessary libraries

In [2]:
import pandas as pd

Now upload the save the dataset into variable

In [286]:
df = pd.read_csv("edu-data.csv")
df.sample(1)

    gender NationalITy  ... StudentAbsenceDays Class
389      M      Jordan  ...            Above-7     L

[1 rows x 17 columns]

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

In [288]:
# Now seprating the nominal attrubites and the numeric attrubites
nominal_attr = ["gender" , "Nationality" , "PlaceofBirth","StageID","GradeID","SectionID","Topic","Semester","Relation","ParentAnsweringSurvey","ParentschoolSatisfaction"
 ,"StudentAbsenceDays", "Class"]

numeric_attr = ["raisedhands", "VisITedResources", "AnnouncementsView", "Discussion"]

In [289]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[numeric_attr] = scaler.fit_transform(df[numeric_attr])

In [290]:
fetures = df.loc[:,:"StudentAbsenceDays"]
target = df.loc[:,"Class"]

In [291]:
# One got encoding to nominal attrubites becomes numeric
# df_onehot = pd.get_dummies(fetures)
# df_onehot.sample
target.sample()

397    M
Name: Class, dtype: object

In [292]:
# df_onehot.loc[0:,"gender_F":].astype("int64").dtypes
# df_onehot.info()
fetures.sample(1)

    gender NationalITy  ... ParentschoolSatisfaction StudentAbsenceDays
376      M      Jordan  ...                      Bad            Above-7

[1 rows x 16 columns]

In [293]:
replace_gender = {'gender': {'F': 1, 'M': 2}}
replace_nat = {'NationalITy': {'KW': 1, 'lebanon': 2, 'Egypt': 3, 'SaudiArabia': 4,
                               'USA':5,'Jordan': 6, 'venzuela': 7, 'Iran': 8 , 'Tunis': 9 ,
                               'Morocco': 10,'Syria': 11,'Palestine': 12,'Iraq': 13,'Lybia': 14}}

replace_place = {'PlaceofBirth': {'KuwaIT': 1, 'lebanon': 2, 'Egypt': 3, 'SaudiArabia': 4
                                  , 'USA':5,'Jordan': 6, 'venzuela': 7, 'Iran': 8 , 'Tunis': 9 ,
                                  'Morocco': 10,'Syria': 11,'Iraq': 12,'Palestine': 13,'Lybia': 14}}
replace_stage = {'StageID': {'lowerlevel': 1, 'MiddleSchool': 2, 'HighSchool': 3}}
replace_grade = {'GradeID': {'G-02':1,'G-04':2, 'G-05':3,'G-06':4,'G-07':5,'G-08':6,'G-09':7,'G-10':8,'G-11':9,'G-12':10}}
replace_sec = {'SectionID': {'A': 1, 'B': 2, 'C': 3}}
replace_topic = {'Topic': {'Arabic': 1, 'Biology': 2,'Chemistry': 3,
                           'English': 4, 'French':5,'Geology': 6,
                           'History': 7, 'IT': 8 , 'Math': 9 ,
                           'Quran': 10,'Science': 11,'Spanish': 12}}
replace_sems = {'Semester': {'F': 1, 'S': 2}}
replace_rel = {'Relation': {'Father': 1, 'Mum': 2}}
replace_pas = {'ParentAnsweringSurvey': {'Yes': 1, 'No': 2}}
replace_pss = {'ParentschoolSatisfaction': {'Bad': 1, 'Good': 2}}
replace_sad = {'StudentAbsenceDays': {'Above-7': 1, 'Under-7': 2}}

In [294]:
fetures.replace(replace_gender,inplace=True)
fetures.replace(replace_nat,inplace=True)
fetures.replace(replace_place,inplace=True)
fetures.replace(replace_stage,inplace=True)
fetures.replace(replace_grade,inplace=True)
fetures.replace(replace_sec,inplace=True)
fetures.replace(replace_topic,inplace=True)
fetures.replace(replace_sems,inplace=True)
fetures.replace(replace_rel,inplace=True)
fetures.replace(replace_pas,inplace=True)
fetures.replace(replace_pss,inplace=True)
fetures.replace(replace_sad,inplace=True)

In [295]:
fetures.sample(1)

     gender  NationalITy  ...  ParentschoolSatisfaction  StudentAbsenceDays
382       2           13  ...                         2                   2

[1 rows x 16 columns]

In [296]:
replace_class =  {'L': 1, 'M': 2 , 'H':3}
target.replace(replace_class,inplace=True)
target

0      2
1      2
2      1
3      1
4      2
      ..
475    1
476    2
477    2
478    1
479    1
Name: Class, Length: 480, dtype: int64

In [297]:
y = target # labels
X = fetures

In [298]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, 
                                                    random_state = 0)
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 384 samples.
Testing set has 96 samples.

In [299]:
from sklearn.metrics import accuracy_score 
from sklearn.metrics import f1_score

In [259]:
def train_predict(learner, sample_size, X_train, y_train, X_test, y_test): 
    '''
    inputs:
       - learner: the learning algorithm to be trained and predicted on
       - sample_size: the size of samples (number) to be drawn from training set
       - X_train: features training set
       - y_train: income training set
       - X_test: features testing set
       - y_test: income testing set
    '''
    
    results = {}
    
    # TODO: Fit the learner to the training data using slicing with 'sample_size' using 
    #     .fit(training_features[:], training_labels[:])
    start = time() # Get start time
    learner = learner.fit(X_train[:sample_size] , y_train[:sample_size])
    end = time() # Get end time
    
    # TODO: Calculate the training time
    results['train_time'] = end - start
        
    # TODO: Get the predictions on the test set(X_test),
    #       then get predictions on the first 300 training samples(X_train) using .predict()
    start = time() # Get start time
    predictions_test = learner.predict(X_test)
    predictions_train = learner.predict(X_train)
    end = time() # Get end time
    
    # TODO: Calculate the total prediction time
    results['pred_time'] = end - start
            
    # TODO: Compute accuracy on the first 300 training samples which is y_train[:300]
    results['acc_train'] = accuracy_score(y_train,predictions_train)
        
    # TODO: Compute accuracy on test set using accuracy_score()
    results['acc_test'] = accuracy_score(y_test,predictions_test)
    
    # TODO: Compute F-score on the the first 300 training samples using fbeta_score()
    results['f_train'] = f1_score(y_train,predictions_train,average='micro')
    
        
    # TODO: Compute F-score on the test set which is y_test
    results['f_test'] = f1_score(y_test,predictions_test,average='micro')
       
    # Success
    print("{} trained on {} samples.".format(learner.__class__.__name__, sample_size))
        
    # Return the results
    return results

In [314]:
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_validate
from sklearn.metrics import make_scorer
models = {}
models['SVC'] = SVC()
models['DecisionTreeClassifier'] = DecisionTreeClassifier()
models['LogisticRegression'] = LogisticRegression(max_iter = 480)
scoring = {"accuracy":"accuracy", "f1": make_scorer(f1_score, average = 'micro')}

In [315]:
for model in models:
  results = cross_validate(models[model],X, y, cv=10,  scoring=scoring , return_train_score=True)
  print(model + ":")
  print("Accuracy:" , 'train: ', results['train_accuracy'].mean(), '| test: ', results['test_accuracy'].mean())
  print("F1-score:" , 'train: ', results['train_f1'].mean(), '| test: ', results['test_f1'].mean())
  print("---------------------------------------------------------")

SVC:
Accuracy: train:  0.6622685185185185 | test:  0.4416666666666666
F1-score: train:  0.6622685185185185 | test:  0.4416666666666666
---------------------------------------------------------
DecisionTreeClassifier:
Accuracy: train:  1.0 | test:  0.6104166666666666
F1-score: train:  1.0 | test:  0.6104166666666666
---------------------------------------------------------
LogisticRegression:
Accuracy: train:  0.787962962962963 | test:  0.7166666666666667
F1-score: train:  0.787962962962963 | test:  0.7166666666666666
---------------------------------------------------------

As shown in the above result, that the SVC is not good at general. However, DecisionTreeClassifier tent to overfit. And the best model is the LogisticRegression